body {
  background-color: #92a992; /* A FAIRE changer la couleur texte et fond */
  color: #060000; 
  background-position: left top;
  background-repeat: no-repeat;
  text-align: left;
  width: 70%;

}

input[type="text"].invalid {
  border-color: red;
}

